[submodule "tmux-code"]
	path = tmux-code
	url = git://git.code.sf.net/p/tmux/tmux-code
[submodule "tmux-powerline"]
	path = tmux-powerline
    url = git@github.com:werther0331/tmux-powerline.git
    branch = private
