[submodule "tmux-code"]
	path = tmux-code
	url = git://git.code.sf.net/p/tmux/tmux-code
[submodule "tmux-powerline"]
	path = tmux-powerline
    url = https://github.com/werther0331/tmux-powerline.git
    branch = private
[submodule "ncurses"]
	path = ncurses
	url = git://git.debian.org/collab-maint/ncurses.git
[submodule "libevent"]
	path = libevent
	url = git://git.debian.org/git/collab-maint/libevent.git
